:root {
  --accent: #04ddb2;
  --gray-tint: #767676;
  --dark: #333;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--dark);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span{
  font-size: 2.2rem;
  font-weight: bold;
}

.logo img {
  margin-left: 5px;
  width: 30px;
  height: 30px;
}

nav {
  margin: 4em;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4.0rem;
  margin: 0;
}

nav ul li a{
  text-decoration: none;
  color: var(--gray-tint);
  font-size: 1.8rem;
}

.primary-cta {
  background-color: var(--accent);
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border-radius: 2em;
  padding: 1em 2em;
}